/** 
 *  This CSS provides all the layout settings for
 *  the ePortfolio site.
 *
 *  @author Edward Rodriguez
 */



body {
       margin-top:2%;
       margin-right:20%;
       margin-left:20%;
       min-width: 800px;
       
}

#banner{
    width:100%;
    max-height:200px;
    height:auto;    
}

header {
    text-align:center;
    padding:5px;
}
nav {
    line-height:30px;
    height:300px;
    width:20%;
    float:left;
    padding:5px;
}
section {

    width:75%;
    float:left;
    padding:10px;
    min-height: 600px;
}
footer {
    
    text-align:center;
    padding:5px;
}

aside{
    padding:10px;
    text-align:center;
    min-width:80px;
    height:auto;    
}

#bodyImg{
    min-width: 240px;
    max-width: 240px;
    height:auto;
    float:right;
    padding:10px;
}

