/** 
 *  This CSS provides all the style settings(color & font) for
 *  the ePortfolio site.
 *
 *  @author Edward Rodriguez
 */

#link{
   color: blue;
}

#main{
    background-color:white;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    font-weight: bold
}

a:active {
    text-decoration: underline;
}

body{
    font-family: 'Lato', sans-serif;
    background-color:gray;
    font-size: 110%;
}

header {
    background-color:black;
    color:white;
    
    font-size: 12px;
}
nav {
    background-color:#eeeeee;   
}
section {
    background-color:#FFFFFF;
    
}
footer {
    background-color:black;
    color:white;
    clear:both;
} 
