/** 
 *  This CSS provides all the layout settings for
 *  the ePortfolio site.
 *
 *  @author Edward Rodriguez
 */


#banner{
    width:100%;
    max-height:200px;
    height:auto;    
}

.cell{
    width:200px;
}

#image{
    float: left;
    padding:5px;
    
}

body {margin-top:2%;
       margin-right:20%;
       margin-left:20%;
       min-width: 850px;
}

.links{
    padding:10px;
}

header {
    text-align:initial;
    padding:15px;
    height:70px;
    
}
nav {
    text-align:center;
    line-height:30px;
    padding:10px 10px;
}
section {
    width:95%;
    padding:10px;
    min-height: 600px;
}
footer {
    
    text-align:center;
    padding:5px;
}

#image4{
    max-width: 400px;
    height:auto;
    padding:5px;
    float:right;
    
}

#image3{
    padding:5px;
    float:left;
}

#image5{
    padding:5px;
    max-width: 200px;
}

#video{
    float:right;
    width:500px; 
    height:315px;
}