/** 
 *  This CSS provides all the style settings(color & font) for
 *  the ePortfolio site.
 *
 *  @author Edward Rodriguez
 */
#main{
    background-color:white;
}


a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
    color:#C7D0D5;
}

a:active {
    text-decoration: underline;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-color:#C7D0D5;
}

header {
    background-color:#FF7148;
    color:white;
    font-size: 20px;
    
}
nav {
    background-color:#EC583A;
    
}
section {
    font-family: 'Open Sans', sans-serif;
    
}
footer {
    background-color:#EC583A;
    color:white;
    clear:both;
} 