/** 
 *  This CSS provides all the layout settings for
 *  the ePortfolio site.
 *
 *  @author Edward Rodriguez
 */
.cell{
    width:200px;
}

#image{
    float: left;
    margin: 0 0 10px 10px;
    padding: 30px;
}

body {margin-top:2%;
       margin-right:20%;
       margin-left:20%;
       min-width: 800px;
}

.links{
    padding:10px;
}

header {
    text-align:center;
    padding:5px;
}
nav {
    text-align:center;
    line-height:30px;
    padding:10px 10px;
}
section {
    width:95%;
    float:left;
    padding:10px;
}
footer {
    
    text-align:center;
    padding:5px;
}
