/** 
 *  This CSS provides all the layout settings for
 *  the ePortfolio site.
 *
 *  @author Edward Rodriguez
 */
.cell{
    width:200px;
}

#image{
    float: left;
    margin: 0 0 10px 10px;
    padding: 30px;
}

body {margin-top:2%;
       margin-right:20%;
       margin-left:20%;
       min-width: 1100px;
}

.links{
    padding:10px;
}

#header {
    width:100%;
    height:30%;
}
#header-right {
    
    text-align:center;
    padding:5px 5px;
    
    
}
section {
    width:95%;
    float:left;
    padding:10px;
}
footer {
    
    text-align:center;
    padding:5px;
}

#logo{
    float:left;
    width:600px;
    height:100px;
    
    
}