/** 
 *  This CSS provides all the style settings(color & font) for
 *  the ePortfolio site.
 *
 *  @author Edward Rodriguez
 */
#main{
    background-color:white;
}


a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-weight: bold
}

a:active {
    text-decoration: underline;
}

body{
    font-family: 'Sahitya', serif;
    font-size: 125%;
    background-color:lightsteelblue;
}

#logo {
    background-color:#660000;
    color:white;
    font-size: 20px;
    
}
nav {
    background-color:#eeeeee;  
    
}
section {
    
    
}
footer {
    background-color:#660000;
    color:white;
    clear:both;
} 

#title{
    margin-left: 5%;
}